<h1>Course Descriptions and Pricing</h1>
<h4>Pricing note: a 10% discount will be offered on individual courses to all active duty military, veterans, and law enforcement.</h4>

<h3>Introduction to Executive Protection:</h3>

<p>This two day (20 hour) course of instruction is designed to provide the student with the knowledge, skills and abilities needed to operate as an executive protection agent. Upon successful completion of the course the student will be able to:</p>

<p>Perform the duties of a basically trained personal protection specialist which include:</p>
<ul>
  <li>Performing an advance of a venue that is to be attended by the principal.</li>
  <li>Performing basic motorcade driving using the taught methods and techniques.</li>
  <li>Perform basic hand to hand techniques in the personal protection environment.</li>
  <li>Deploy his or her weapon effectively in a personal protection environment.</li>
  <li>Demonstrate proper effective walking movements and formations for a variety of circumstances.</li>
</ul>

<p>Day 1: Will cover the classroom portion of the course with some practical exercises such as basic walking movements and vehicle mounting and dismounting. Comfortable attire is recommended.</p>
<p>Day 2: Will be almost entirely hands and outside the classroom. Experiential learning in conducting a site survey/ security advance and motorcade set-up and operations will be conducted. Business attire is required (including a jacket) for day 2.</p>

<p>*Please note* This is not a shooting course, firearms and/or ammunition are NOT permitted at any time. Weapons deployment and tactics will be conducted with “blue” guns provided by RTI.</p>

<p>Graduates of this course will receive an “Executive Protection – Basic” certificate of completion.</p>

<p>This course is open to Law Enforcement, Military members and security professionals.</p>

<p>Course Cost: $500 per student, Maximum of 15 students per course</p>

<h3>NRA Basic Pistol Shooting (CCW) Course:</h3>

<p>This course exceeds the requirements for the state of Colorado’s proof of firearms training needed to apply for the Concealed Carry Weapon (CCW) permit.</p>

<p>Short Description: Teaches the basic knowledge, skills, and attitude for owning and operating a pistol safely.</p>

<p>More Details: This course is at least 8-hours long and includes classroom and range time learning to shoot revolvers and semi-automatic pistols. Students learn NRA’s rules for safe gun handling; pistol parts and operation; ammunition; shooting
  fundamentals; range rules; shooting from the bench rest position, and two handed standing positions; cleaning the pistol; and continued opportunities for skill development. Students will receive the NRA Guide to the Basics of Pistol Shooting
  handbook, NRA Gun Safety Rules brochure, Winchester/NRA Marksmanship Qualification booklet, take a Basics of Pistol Shooting Student Examination, and course completion certificate.</p>

<p>Students should dress in range appropriate attire (Closed toed shoes, baseball style hats, and long sleeves are recommended) and must bring eye protection, ear protection along with a pistol (preferable one they plan to carry) and 200 rounds of
  ammunition.</p>

<p>Course Cost: $150, Maximum of 10 students per course.</p>

<h3>Handgun and Carbine Shooting Course</h3>

<p>This 10-hour course covers the basic use and deployment of the handgun as well as the use of the carbine while keeping the handgun as an option.</p>
<p>Topics covered include:</p>
<ul>
  <li>Handgun fundamentals and marksmanship</li>
  <li>Drawing and firing the handgun</li>
  <li>Emergency reloads of the handgun</li>
  <li>Firing the handgun in low-light situations</li>
  <li>Carbine Fundamentals and Marksmanship</li>
  <li>Presentation positions</li>
  <li>Shooting while moving</li>
  <li>Clearing malfunctions</li>
  <li>Emergency reloads of the rifle and gear placement</li>
  <li>Transitioning from the rifle to the pistol.</li>
  <li>Tactical mindset and real-life scenarios.</li>
</ul>
<p>This course is conducted outdoors at a location near Bailey, CO regardless of the weather so students will need to plan their attire accordingly. The lunch break will be taken on the range so students will need to bring their lunch, snacks, and
  plenty of water. All guns must be empty and in a case at the outset of the class.</p>

<p>This is NOT a beginner course, students will be required to provide proof of previous firearms training (Call for details, examples include an NRA pistol AND Rifle course, DD-214 showing marksmanship ribbon for pistol and rifle, or POST
  certification) exceptions will be made on a case by case basis when a student has experience but no proof of formal training.</p>

<p>Students are required to bring a handgun with a holster (not concealed), a carbine rifle with a sling, a flashlight (or pistol weapon light), a chest rig (plate carrier, Rhodesian, or low-profile) or belt configured magazine holder for the carbine
  (4-6 mags) and pistol (3 mags), 250 rounds of handgun ammo and 500 rounds of carbine ammo, ear protection (preferably electronic) eye protection (clear and shaded) and a notepad and pen. Suggested attire includes rugged shoes/ boots, pants, and a
  baseball style cap.</p>

<p>**This is not an NRA course**</p>

<p>Course Cost: $250 per student, Maximum of 10 students.</p>

<h3>Active Shooter in the Workplace</h3>

<p>This course is designed to prepare members of an office staff or place of business to survive an active shooter in their specific workplace. Each class is tailored to the office or building in which the staff works after an RTI cadre member
  performs a site visit and assessment. Once the assessment is complete the cadre will design an emergency action protocol (EAP) for the location and conduct training with the staff on the implementation of the emergency procedures and actions to take
  in the event of an active shooter. This course not only provides critical knowledge and training but a feeling of confidence and safety among the entire staff.</p>

<p>Contact the RTI staff today to schedule this critical custom course at your convenience.</p>

<p>Please call for pricing options: (720) 308-4739</p>

<h3>Women’s Only Self-Defense Seminar</h3>

<p>This four-hour course is designed to introduce women to the basics of self-defense, situational awareness and combat mindset to avoid and, if needed, survive a sexual assault. Material covered includes the most likely time and places for an attack
  to occur, ways to avoid common mistakes that can lead to an attack, and the four phases of a sexual assault and how to physically defend and survive at each phase. This is a self defense class so please wear comfortable (work out) clothes.</p>

<p>Course Cost: $50 per student</p>

<h3>Children’s Anti-Abduction Seminar</h3>

<p>This four-hour course is designed to introduce children and teens to the basics of situational awareness, Evasion and Self-Defense needed to avoid or survive a kidnap attempt. Based on RTI’s proprietary READ method, students will learn to
  Recognize, Evade, Alert and Defend an attempted abduction. In a fun and cooperative environment kids learn techniques that can make the difference in the event of a kidnapping attempt.</p>

<p>Course Cost: $50 per student</p>