<div class="container-fluid">
  <div class="container">
    <%= image_tag "jj_bio.png",class: "img-circle", alt: "Generic placeholder image", width: "140", height:"140" %>
    <h2>JJ Pugsley</h2>
    <h3>President/ Head Instructor</h3>
    <p>With over 14 years of combined executive protection, armed security and military experience, JJ brings a wealth of knowledge and real world applications to the training cadre. In addition to specialized training he received with serving on Naval
      Special Clearance Team One, he has also completed a myriad of executive protection, tactical firearms and instructor certification courses to continue his expertise.</p>
    <p>
      His ability to articulate his knowledge of the field has been augmented by instructor development; he is currently an NRA pistol instructor and qualified sniper instructor.</p>
    <p>
      JJ’s range of experience stretches across more than 80 countries while providing protection for CEO’s, celebrities and dignitaries at various events such as the Republican and Democratic National Conventions, award shows, movie premieres and
      executive appearances.</p>
    <p>
      JJ also holds a 2nd degree black belt in Brazilian Jiu-Jitsu and has taught ground fighting tactics to members of the Denver Police Department, the San Diego Police Department, the US Border Patrol, the Department of Homeland Security as well as
      elite military units such as US Navy SEALs, Marine Recon and Navy EOD.
    </p>
  </div>
  <div class="container">
    <%= image_tag "jj_bio.png",class: "img-circle", alt: "Generic placeholder image", width: "140", height:"140" %>
    <h2>Jeremiah Sipes</h2>
    <h3>Vice-President/ Director of Training</h3>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
  </div>
</div>
