<div class="container-fluid">
  <div class="container">
    <%= image_tag "jj-headshot.jpg",class: "img-circle", alt: "Generic placeholder image", width: "140", height:"140" %>
    <h2>JJ Pugsley</h2>
    <h3>President/ Head Instructor</h3>
    <p>With over 14 years of combined executive protection, armed security and military experience, JJ brings a wealth of knowledge and real world applications to the training cadre. In addition to specialized training he received with serving on Naval
      Special Clearance Team One, he has also completed a myriad of executive protection, tactical firearms and instructor certification courses to continue his expertise.</p>
    <p>
      His ability to articulate his knowledge of the field has been augmented by instructor development; he is currently an NRA pistol instructor and qualified sniper instructor.</p>
    <p>
      JJ’s range of experience stretches across more than 80 countries while providing protection for CEO’s, celebrities and dignitaries at various events such as the Republican and Democratic National Conventions, award shows, movie premieres and
      executive appearances.</p>
    <p>
      JJ also holds a 2nd degree black belt in Brazilian Jiu-Jitsu and has taught ground fighting tactics to members of the Denver Police Department, the San Diego Police Department, the US Border Patrol, the Department of Homeland Security as well as
      elite military units such as US Navy SEALs, Marine Recon and Navy EOD.
    </p>
  </div>
  <div class="container">
    <%= image_tag "sipes_bio.jpg",class: "img-circle", alt: "Generic placeholder image", width: "140", height:"140" %>
    <h2>Jeremiah Sipes</h2>
    <h3>Vice-President/ Director of Training</h3>
    <p>Jeremiah brings over 13 years of experience and a wide variety of skills and real world application to the cadre. He has successfully completed more than 2,000 motorcade operations around the world, operating from every position in the movement;
      he has an exceptional sense of tactical driving techniques and practices.</p>
    <p>As an executive protection agent, Jeremiah has gained the combined experience of Detail leader, lead advance agent, assistant director, and director positions leading to an adept ability for teaching and directing small teams, groups and
      individuals to a greater understanding of positions and roles.</p>
    <p>Jeremiah's real world knowledge of the most up to date EP tactics is augmented by his protection of CEO’s and celebrities in nearly every theatre of the world including Europe, Mexico, South and Central America, the Middle-East, Africa, Asia and
      the South Pacific, providing services as a team leader as well as security, driving, daily schedules, and route planning. Additionally, he has conducted operations for various events such as small secure meetings to stadium security with over 60,000
      people in attendance to private vacations and celebrity and executive appearances.</p>
    <p>Prior to entering the realm of private sector and contract security, Jeremiah served as a Recon Marine and Marine Combat Instructor for Water Survival while also instructing a school of martial arts for 2 years. He holds a 2nd degree back belt in
      Tae Kwon Do and a back ground of judo and hapkido.
    </p>
  </div>
</div>